# React Frontend
frontend/node_modules/
frontend/dist/

# Python Backend
backend/venv/
backend/__pycache__/
*.pyc

# Security - CRITICAL!
.env
backend/.env

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
